---
import Base from "./Base.astro";
import type { ArticleMarkdown } from "$scripts/types";
import { makeDescription } from "$scripts/makeDescription";
import WithCustomComponents from "$components/WithCustomComponents.astro";
import ArticleTags from "$components/ArticleTags.svelte";

interface Props {
  markdown: ArticleMarkdown;
}

const { markdown } = Astro.props;
const { frontmatter, compiledContent } = markdown;
const { title, date, author, tags } = frontmatter;
---

<Base title={title} description={makeDescription(compiledContent())}>
  <article>
    <h1>{title}</h1>

    <WithCustomComponents compiledContent={compiledContent()} />

    {tags && <ArticleTags tags={tags} />}
  </article>
</Base>
<style>
  article {
    padding: var(--vertical-page-margin) var(--horizontal-page-margin);
  }
</style>
