---
import Base from "./Base.astro";
import type { ArticleMarkdown } from "$scripts/types";
import { makeDescription } from "$scripts/makeDescription";
import WithCustomComponents from "$components/WithCustomComponents.astro";

interface Props {
  markdown: ArticleMarkdown;
}

const { markdown } = Astro.props;
const { frontmatter, compiledContent } = markdown;
const { title, date, author, tags } = frontmatter;
---

<Base title={title} description={makeDescription(compiledContent())}>
  <article>
    <h1>{title}</h1>

    {
      author && date && (
        <h4>
          {author}
          <br />
          {new Date(date).toLocaleDateString("pl")}
        </h4>
      )
    }

    <WithCustomComponents compiledContent={compiledContent()} />

    {
      tags && tags.length > 0 && (
        <h4 class="tags">
          Tagi:
          {tags.sort().map((tag, index) => (
            <>
              <a href={`/tag/${tag}/1`}>{tag}</a>
              {index !== tags.length - 1 && <span>, </span>}
            </>
          ))}
        </h4>
      )
    }
  </article>
</Base>
<style>
  article {
    padding: var(--vertical-page-margin) var(--horizontal-page-margin);
  }

  .tags a {
    transition: color 0.2s;
    color: black;
  }

  .tags a:hover {
    color: var(--highlight-color);
  }
</style>
