---
import { makeDescription } from "$scripts/makeDescription";
import { makeSlug } from "$scripts/makeSlug";
import type { ArticleMarkdown } from "$scripts/types";

interface Props {
  markdown: ArticleMarkdown;
}

const { markdown } = Astro.props;
const { compiledContent, frontmatter } = markdown;
const { title, date, image } = frontmatter;

const articleHref = `/${makeSlug(frontmatter)}`;
---

<article>
  <a href={articleHref}>
    <img src={image} alt={`${title} image`} />
  </a>
  <div>
    <a href={articleHref}>
      <h2>{title}</h2>
    </a>

    <h4>{new Date(date!).toLocaleDateString("pl")}</h4>

    <p>{makeDescription(compiledContent())}</p>
  </div>
</article>

<style>
  @media (min-width: 500px) {
    article {
      flex-direction: row;
      height: 200px;
      overflow: hidden;
    }

    img {
      height: 200px;
      margin-right: 40px;
    }
  }

  @media (max-width: 500px) {
    article {
      flex-direction: column;
    }

    img {
      width: 100%;
    }
  }

  article {
    display: flex;
    margin-top: 30px;
  }

  img {
    aspect-ratio: 1;
  }
</style>
